<script class="cartFlagX"></script><p class="total-price">
  {{ 'cart.subtotal' | t }}: <span class="tdf-cart-total-parent">{{ cart.total_price | money }}</span>
</p><!-- /.total-price -->

<div class="shipping-calc">{{ 'cart.shipping_calculate' | t }}</div><!-- /.shipping-calc -->