<div class="search">
  <form
    action="/search"
    method="get"
    class="search-header search"
    role="search"
  >
    <input
      class="search-header__input search__input"
      type="search"
      name="q"
      placeholder="{{ 'general.search.placeholder' | t }}"
    />

    <button type="submit">
      {{ 'icon-search.png' | asset_img_url: '18x18' | img_tag }}
    </button>
  </form>
</div>
<!-- /.search -->
