<div class="oke-pdp-media-grid-widget">
<h2> Reviews </h2>  
<div data-oke-media-grid
     data-oke-reviews-product-id="shopify-{{ product.id }}"
     data-oke-reviews-grid-style="default"
     data-oke-reviews-mobile-grid-style="default-mobile"></div>
</div>