<div class="search">
	<form action="/pages/search-results" method="get" id="mobile-search" class="search-header search" role="search">
        <input type="submit" value="" class="search__btn" />
        <input class="search-header__input search__input" type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}">
    </form>
</div><!-- /.search -->
