<div class="socials">
  {%- if field.facebook_url != blank -%}
    <a href="{{ field.facebook_url }}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
  {%- endif -%}

  {%- if field.twitter_url != blank -%}
    <a href="{{ field.twitter_url }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  {%- endif -%}

  {%- if field.instagram_url != blank -%}
    <a href="{{ field.instagram_url }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  {%- endif -%}

  {%- if field.pinterest_url != blank -%}
    <a href="{{ field.pinterest_url }}"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
  {%- endif -%}
</div><!-- /.socials -->
