      <div class="page-description">
        {{ page.content }}
      </div>
      <h2 class="bms-step-counter page-title">{{ 'corporate_sales.step_1.title' | t }}</h2>
      <div class="teams-section"></div>
    </div><!-- /.page-content -->
  </div><!-- /.container -->
</div><!-- /.main -->
