<div class="main">
  <div class="container">
    <h2 class="page-title">
      {{ page.title }}
    </h2><!-- /.page-title -->
    <div class="page-content">
      {% if shop.metafields.okendo.WidgetPreRenderBodyStyleTags != blank %}{{ shop.metafields.okendo.WidgetPreRenderBodyStyleTags }}{% endif %}<div data-oke-widget></div>
    </div><!-- /.page-content -->
  </div><!-- /.container -->
</div><!-- /.main -->
